.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 1.5em;
    position: relative;
    margin-top: 1em;
}
.containerLoading {
	height: 84vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	text-align: -webkit-center;
}
